@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');


body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
/* start top section */
.top-section{
    display: flex;
    margin-bottom: 110px;
}
.half-width{
    width: 50%;
}
.left-section{
    margin-left: 50px;
}
.text-color{
    color: #0795F8;
}
h1.heading {
    margin-top: 250px;
    font-size: 50px;
    line-height: 1.3;
}
p.sort-desc {
    font-size: 20px;
    text-transform: capitalize;
    line-height: 1.6;
    padding-bottom: 20px;
}
.top-section .half-width img{
    width: 80%;
    margin-top: 96px;
}
.link-btn{
    text-decoration: none;
    padding: 10px 30px;
    text-transform: capitalize;
    color: #fff;
    background: linear-gradient(#058FF7,#9ed6f5);
    border-radius: 23px;
}
/* end top section */
/* Start About section */
.about-section{
    display: flex;
    background-image: url('../images/shapes/frame57.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;

}
.about-section .half-width img{
    max-width: 340px;
    padding-top: 60px;
}
.half-width.about-img{
    text-align: center;
}
.half-width.about-txt {
    padding-top: 140px;
    /* padding-right: 100px; */
}
.half-width.about-txt h2{
    font-weight: bold;
    font-size: 40px;
}
.half-width.about-txt p{
    margin-right: 80px;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 60px;
    text-align: justify;
}

/* End About section */
/* start recipie section */
.racipie-section{
    margin-bottom: 100px;
}
.recipie-title{
    width: 50%;
    margin: 0 auto;
    padding-bottom:25px;
}
.recipie-title h2{
    text-align: center;
    font-size: 36px;
}
.recipie-title p{
    text-align: center;
    line-height: 1.5;
    font-size: 18px;
}
.card-container{
    display: flex;
    margin: -2%;
    margin-left: 20px;
    margin-right: 20px;
}
.card-container .card{
    width: 29.33%;
    margin: 2%;
    border-radius: 10px;
    box-shadow: 5px 3px 20px gray;
}
.card-header {
    padding: 15px;
}
.card-body {
    padding: 15px;
}
.card-header img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.card-title h2{
    font-size: 28px;
    text-transform: capitalize;

}
.card-desc p{
    text-transform: capitalize;
    font-size: 18px;
    line-height: 1.5;
}
/* End recipie section */